
<div class="panel panel-default">
    <div class="panel-heading">
        {{ title }}
    </div>
    <div class="panel-body">
        <p>How many Tourists on a trip do you see?</p>
        <form [ng-form-model]="peopleCountForm">
            <input type="range"
                ng-control="amount"
                (input)="reportAmount()"
                (change)="reportAmount()"
            />
            Value: {{ amountControl.value }}
        </form>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-success"
            (click)="reportAmount()">Report</button>
    </div>
</div>